body {
  font-weight: 100;
}

.sign-btn {
  padding: 0 30px;
}

.content {
  padding-top: 8%;
  padding-bottom: 0%;
  min-height: 83vh;
}

.content.home {
  background-color: rgba(206, 203, 203, 0.76);
}

.body-img {
  background-image: url('../assets/images/mauro-mora-85112-unsplash.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.logo {
  font-family: 'Allerta Stencil', sans-serif;
}

.card-form {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.card-form .card-header {
  background-color: transparent;
  border-bottom: none;
}

.sign-btn {
  padding: 0 30px;
}

.form-header {
  font-weight: 400;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.account-navbar {
  background-color: rgba(255, 255, 255, 0.84);
}

.account-card {
  background-color: rgba(46, 39, 43, 0.34);
  border-radius: 0.25rem;
}

.content-body {
  min-height: 8vh;
}

.dash-body {
  background-color: #eee;
}

.main-body {
  margin-top: 1%;
  margin-bottom: 0%;
  min-height: 82vh;
  background-color: #fff;
  box-shadow: 1px 1px 17px 1px #ddd;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.body-content {
  padding: 20px;
}

.review {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.review:last-child {
  border-bottom: 0;
}

.business-div .col-md-10 {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.filters {
  padding-top: 9px;
  padding-bottom: 7px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

#reviewModal .modal-header {
  border-bottom: none;
}

#reviewModal .modal-footer {
  border-top: none;
}

.input-group>.form-control:not(:first-child) {
  border-left: 0;
}

.input-group-text {
  background-color: #ffffff;
}

/* Make background color of auto complete textinput transparent */

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent;
}

.alert-dismissible .close,
.alert {
  padding: 0.1rem 1.25rem;
}

.close {
  font-weight: 200;
}

.input-group-text {
  color: #1f7a8c;
}

.form-control {
  font-weight: 100;
}

.logo-header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-shadow: -1px 0 #1f7a8c, 0 1px #1f7a8c, 1px 0 #1f7a8c, 0 -1px #1f7a8c;
}

.logo-header>h5 {
  color: #fff;
}

.logo {
  max-height: 120px;
}

.form-control {
  &:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.show>.btn.dropdown-toggle:focus {
  box-shadow: none;
}

a:focus,
.dropdown-item:focus {
  outline: none;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-menu.dropdown-menu-right.show {
  border-radius: 0rem 0 0 0.25rem;
}

.business-hover-img {
  max-height: 60px;
  border: 1px solid rgba(31, 122, 140, 0.502);
}

.action-btn {
  margin: 0 3px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 20px;
  line-height: 26px;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.slim-header {
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: 1px dotted;
  outline: none;
}

.pagination>li>a,
.pagination>li>span {
  border-radius: 50%;
  margin: 0 5px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 50%;
}

.modal-title {
  font-weight: 300;
}

.v-slim-header {
  font-weight: 200;
}

.heading {
  padding-top: 30px;
  padding-top: 30px;
}

.hr-divider {
  background-color: rgba(31, 122, 140, 0.188);
}

.business-card {
  border: 0;
  border: 1px solid rgba(31, 122, 140, 0.188);
  .card-body {
    border-top: 1px solid rgba(31, 122, 140, 0.188);
  }
  .card-title {
    color: #1f7b8e;
  }
  .hover-business-img {
    // border: 1px solid rgba(31, 122, 140, 0.188);
    width: 60%;
  }
}

.holo-sec {
  background-image: url('../assets/images/clients.jpg');
  background-attachment: fixed;
  min-height: 80vh;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.72);
  background-position: center;
  background-size: 100%;
  .testimonials {
    background-color: rgba(31, 122, 140, 0.78);
    padding: 10%;
    border-radius: 4px;
  }
}

.slimmy {
  font-weight: 100;
}

.b-footer {
  padding: 1%;
  .f-logo {
    width: 30px;
    filter: grayscale(100%);
  }
}

.footer-bg {
  background-color: 'rgb(229, 230, 230)';
}

.detailed-content {
  padding-top: 5%;
  padding-bottom: 0%;
  min-height: 83vh;
  background-color: #f8f9fa;
}

.hovered-business-img {
  width: 60%;
  filter: grayscale(100%);
}

.review-textarea-wrapper {
  background-color: #fff;
  padding: 15px;
  border: 1px solid rgba(31, 122, 140, 0.188);
}

.review-textarea {
  border: 0;
  resize: none;
  min-height: 100px;
}

.review-textarea:focus {
  border: none;
}

.send-review-btn {
  padding: 10px 15px;
}

.search-result {
  min-height: 90vh;
  position: absolute;
  width: 100%;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.6);
}