$theme-colors: (
  "primary": #1f7a8c,
  "secondary": #eb6b01,
  "danger": #ea6b65,
  "success": #1f7A8c, 
);
$input-border:  #eb6b01;
$input-color-placeholder: #eb6b01;
$input-group-addon-bg: $input-border;
$input-border-focus: #1f7a8c;
$btn-font-weight: 100;
$alert-link-font-weight: 100;
$badge-font-weight: 100;
$close-font-weight: 100;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
